/*************** Universal ****************/

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}


html { 
  box-sizing:border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.margin-top-10px {
  padding-top: 10px;
}

.font-small {
  font-size: 15px;
}

.fa {
  color: white;
  height: 1rem;
  padding-right: 6px;
}

button {
  background-color: transparent;
  border: 0;
}

/**************** App **************/

.app-flex {
  display: flex;
  flex-direction: column;
}

/**************** UsersForm **************/

#form-submit {
  text-align: center;
  background-color: #6946a6 ;
  color: #fff;
  padding: 6.5rem 0rem;
} 

.form-title {
  padding-bottom: 1rem;
  box-shadow: black 3px 3px 7px;
}

.title-form {
  display: block;
  margin-top: 5px;
}

.input-container {
  margin: 1rem 0rem;
}

.input-form {
  width: 80%;
  height: 1.7rem;
  outline: 0;
  border: 0;
  margin-top: 7px;
  padding: 0rem .5rem;
}

.input-password {
  width: 75%;
  height: 2rem;
  border: 0;
  outline: 0;
  margin-top: 7px;
  padding: 0rem .5rem;
}

.input-date {
  width: 80%;
  height: 2rem;
  border: 0;
  outline: 0;
  margin-top: 7px;
  text-align: center;
}

.btn-view {
  width: 5.6%;
  border: 0;
  background-color: transparent;
  height: 2rem;
  background-color: white;
  margin-left: -.6%;
  display: inline-block;
}

.btn-submit {
  margin-top: 1rem;
  padding: .6rem 4rem; 
  font-weight: bold;
  background-color: #48297c;
  border: 1px solid #fff;
  color: white;
  box-shadow: #311561 5px 6px 1px 1px;
}

.btn-submit:active {
  box-shadow: unset;
  color: #48297c;
  background-color: #fff;
}

/************** UsersList ***********/

.users-list {
  background-color: rgb(238, 238, 238);
  width: 100%;
  margin: auto;
}

.user-title {
  text-align: center;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;;
}

.user-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 95%;
  margin: auto;
  background-color: #6946a6
}

.card-flex {
  display: flex;
  gap: .5rem;
  text-align: center;
  padding: .50rem 0rem;
  justify-content: space-between;
}

.card-date {
  text-align: center;
}

.icon-trash {
  height: 2rem;
}

.card-icons {
  text-align: right;
}
/************ Mediaquery *************/

@media(min-width: 768px) {
  /************ App ************/

  .app-flex {
    flex-direction: row;
  }

  /************ UsersForm ***********/

  #form-submit {
    width: 70%;
  }

}